*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#academy {
    text-decoration: underline;
}

#total-recovered {
    margin-bottom : 30px;
}

#total-tests{
    margin-bottom : 30px;
}

.link-two:link {
    text-decoration: none;
    color: white;
}

.link-two:visited {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 750px) {
    #header {
        width: 100%;
        background-image: linear-gradient(to right bottom, #eeeff2, #dde4f0, #cad9ee, #b4cfeb, #9bc6e7);
        border-bottom: 2px solid #9bc6e7
    }

    #header-title {
        width: 80%;
        margin: 0 auto;
        padding: 30px;
        background-color: #EEEFF2;
        border-radius: 0px 0px 5px 5px;
        margin-bottom: 10px;
        text-align: center;
    }

    #first-title {
        color: #374895;
        font-size: 30px;
        letter-spacing: 5px;
        font-weight: bold;
    }

    #second-title {
        color: #2393D7;
        letter-spacing: 5px;
    }

    #menu {
        background-color: #314080 ;
        position: sticky;
        top: 0;
        z-index: 9999;
    }

    #menu-width {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
        font-weight: bold;
    }

    #menu-links{
        display: flex;
        flex-flow: column;
        position: absolute;
        left: 0;
        right: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    #menu-full{
        display: none;
    }

    .link{
        padding: 15px;
        text-decoration: none;
        color: white;
        border-top: 1px solid white;
    }

    .link:visited {
        text-decoration: none;
    }
    
    #first-link{
        background-color: #2393D7;
    }

    #second-link{
        background-color: #314080;
    }

    #container {
        background-image: linear-gradient(to right bottom, #eeeff2, #dde4f0, #cad9ee, #b4cfeb, #9bc6e7);
        padding-bottom: 30px;
    }

    #stats-width {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    #world {
        border-bottom: 1px solid #9099c0;
    }

    #world-stats {
        padding-top : 30px;
    }

    #world-stats img {
        width : 80%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #macedonia {
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #9099c0;
    }

    #mkd-chart {
        width: 100%; 
        height: 400px;
        margin: 0 auto;
        margin-bottom: 20px;
        box-shadow: 0px 0px 12px -3px #314080;
    }

    #each-country {
        margin-top: 20px;
    }

    #question {
        margin-top: 20px;
        border-bottom: 1px solid #9099c0;
    }

    #situation {
        color: #314080;
    }

    #mkd-cities {
        border: 1px solid #314080;
        padding-top: 4px;
        border-radius: 2px;
        margin-bottom: 20px;
    }

    #situation-cities {
        color: #314080;
        margin-bottom: 10px;
    }

    #show-cities {
        background-color: #314080;
        padding:10px;
        margin: 0 auto;
        margin-top : 10px;
        margin-bottom : 10px;
        color: white;
        font-size: 20px;
        width: 200px;
        border-radius: 2px;
        cursor: pointer;
    }

    #map {
        height: 500px;
        width: 100%;
        left: 0;
        right: 0;
    }

    .marker {
        background: url("./images/info.png");
        opacity: 70%;
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
         
    .mapboxgl-popup {
        max-width: 200px;
        text-align: center;
    }

    .modal {
        display: none; 
        position: fixed; 
        z-index: 9999999; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto;
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
    }
      
    .modal-content {
        background-color: #ebedf1;
        margin: 5% auto; 
        padding: 10px;
        width: 85%;
    }
      
    #loading-message {
        font-size: 20px;
        color: #314080;
        margin-top: 10px;
        margin-bottom: 40px;
        font-weight: bold;
    }

    #source-message {
        font-size: 17px;
        color: #314080;
        margin-top: 20px;
        font-weight: bold;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
      
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .numbers {
        font-size: 40px;
    }

    .div-stats {
        background-color: #ebedf1;
        color: #314080;
        padding: 10px;
        border-radius: 2px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 12px -3px #314080;
    }

    #macedonia-stats img {
        width: 60%;
        margin-top : 20px;
        margin-bottom: 20px;
    }

    #question {
        padding-top: 10px;
        color: #314080 ;
    }

    #find-more {
        background-color: #314080;
        padding:10px;
        margin: 0 auto;
        margin-top : 20px;
        margin-bottom : 30px;
        color: white;
        font-size: 20px;
        width: 170px;
        border-radius: 2px;
    }

    #country-details {
        background: #ebedf1;
        border: 2px solid #314080;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        margin-top: 35px;
        box-shadow: 0px 0px 12px -3px #314080;
        overflow: auto;
        text-align: center;
        white-space: nowrap;
    }
    
    #each-country {
        color: #314080;
    }

    .div-creator {
        font-size: 17px;
        border: 1px solid #314080;
        padding:5%;
        border-radius: 2px;
        margin-right: 5%;
        left:0;
        right: 0;
    }

    .country-flag{
        height: 80px;
        width: 50%;
    }

    .header-border {
        border-bottom : 1px solid #314080;
    }

    #swipe {
        color: #314080;
    }

    #swipe img{
        width: 60px;
        margin-top: 30px;
    }

    #search-section {
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
        font-weight: bold;
    }

    #search-button {
        background-color: #314080;
        padding:10px;
        margin: 0 auto;
        margin-top : 10px;
        color: white;
        font-size: 20px;
        width: 120px;
        border-radius: 2px;
    }

    #country-name-search {
        font-size: 25px;
        color: #314080;
        background-color: #ebedf1 ;
        border: 1px solid #314080;
        border-radius: 2px;
        text-align: center;
        width: 230px;
        padding: 3px 5px;
    }

    #message-error {
        margin-top: 3px;
        margin-bottom: 3px;
        height: 35px;
        font-size: 18px;
        font-weight: bold;
        color: rgb(184, 30, 30);
    }

    #name-size {
        font-size: 24px;
    }

    #footer {
        background-color: #314080;
        color: white;
        text-align: center;
        font-size: 10px;
        padding: 15px;
    }

    #warning {
        padding-bottom: 10px;
    }

    #code-academy img{
        width: 200px;
    }

}

@media only screen and (min-width: 750px) {
    #header {
        width: 100%;
        background-image: linear-gradient(to right bottom, #eeeff2, #dde4f0, #cad9ee, #b4cfeb, #9bc6e7);
        border-bottom: 2px solid #9bc6e7
    }

    #header-title {
        width: 85%;
        margin: 0 auto;
        padding: 30px;
        background-color: #EEEFF2;
        border-radius: 0px 0px 5px 5px;
        margin-bottom: 10px;
        text-align: center;
    }

    #first-title {
        color: #374895;
        font-size: 30px;
        letter-spacing: 5px;
        font-weight: bold;
    }

    #second-title {
        color: #2393D7;
        letter-spacing: 5px;
    }

    #menu {
        display: none;
    }

    #menu-full {
        position: sticky;
        top: 0;
        z-index: 9999;
        background-color: #314080;
        width: 100%;
        margin: 0 auto;
    }

    #menu-full img {
        width: 40px;
        align-self: center;
    }

    #menu-width {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
        font-weight: bold;
    }

    .link{
        padding: 15px;
        text-decoration: none;
        color: white;
        border-radius: 2px;
        align-self: center;
    }

    .link:visited {
        text-decoration: none;
    }

    #first-link {
        background-color: #2393D7;
        width: 190px;
        text-align: center;
    }

    #second-link {
        background-color: #5fa1d4;
        width: 190px;
        text-align: center;
    }

    #second-link:hover {
        background-color: #2393D7;
    }

    #container {
        background-image: linear-gradient(to right bottom, #eeeff2, #dde4f0, #cad9ee, #b4cfeb, #9bc6e7);
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #stats-width {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    #world {
        border-bottom: 1px solid #9099c0;
    }

    #world-stats {
        padding-top : 30px;
    }

    #world-stats img {
        width : 500px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #macedonia {
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #9099c0;
    }

    #mkd-chart {
        width: 80%; 
        height: 500px;
        margin: 0 auto;
        margin-bottom: 20px;
        box-shadow: 0px 0px 12px -3px #314080;
    }

    #mkd-chart:hover{
        box-shadow: 0px 0px 15px 0px #314080;
    }

    #each-country {
        margin-top: 20px;
    }

    #question {
        margin-top: 20px;
        border-bottom: 1px solid #9099c0;
    }

    #situation {
        color: #314080;
    }

    #mkd-cities {
        border: 1px solid #314080;
        width: 40%;
        margin: 0 auto;
        margin-bottom: 20px;
        padding-top: 4px;
        border-radius: 2px;
    }

    #situation-cities {
        color: #314080;
        margin-bottom: 10px;
    }

    #show-cities {
        background-color: #314080;
        padding:10px;
        margin: 0 auto;
        margin-top : 10px;
        margin-bottom : 10px;
        color: white;
        font-size: 20px;
        width: 180px;
        border-radius: 2px;
        cursor: pointer;
    }

    #show-cities:hover {
        background-color: #2393D7 ;
    }

    #map {
        height: 500px;
        width: 100%;
        left: 0;
        right: 0;
    }

    .marker {
        background: url("./images/info.png");
        opacity: 70%;
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
    }
         
    .mapboxgl-popup {
        max-width: 200px;
        text-align: center;
    }

    .modal {
        display: none; 
        position: fixed; 
        z-index: 9999999; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto;
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
    }
      
    .modal-content {
        background-color: #ebedf1;
        margin: 0 auto; 
        padding: 20px;
        width: 80%; 
    }
      
    #loading-message {
        font-size: 30px;
        color: #314080;
        margin-top: 10px;
        margin-bottom: 40px;
        font-weight: bold;
    }

    #source-message {
        font-size: 25px;
        color: #314080;
        margin-top: 30px;
        font-weight: bold;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
      
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .numbers {
        font-size: 40px;
    }

    .div-stats {
        background-color: #ebedf1;
        color: #314080;
        padding: 10px;
        border-radius: 2px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 12px -3px #314080;
        width: 40%;
    }

    .div-stats:hover {
        box-shadow: 0px 0px 15px 0px #314080;
    }

    .flex-stats {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #macedonia-stats img {
        width: 300px;
        margin-top : 20px;
        margin-bottom: 20px;
    }

    #question {
        padding-top: 10px;
        color: #314080 ;
    }

    #find-more {
        background-color: #314080;
        padding:10px;
        margin: 0 auto;
        margin-top : 20px;
        margin-bottom : 30px;
        color: white;
        font-size: 20px;
        width: 180px;
        border-radius: 2px;
        cursor: pointer;
    }

    #find-more:hover {
        background-color: #2393D7 ;
    }

    #country-details {
        background: #ebedf1;
        border: 2px solid #314080;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-top: 20px;
        box-shadow: 0px 0px 12px -3px #314080;
        overflow: auto;
        text-align: center;
        white-space: nowrap;
        width: 50%;
        cursor: pointer;
    }
    
    #each-country {
        color: #314080;
    }

    .div-creator {
        font-size: 17px;
        border: 1px solid #314080;
        padding:5%;
        border-radius: 2px;
        margin-right: 5%;
        left:0;
        right: 0;
    }

    .country-flag{
        height: 80px;
        width: 50%;
    }

    .header-border {
        border-bottom : 1px solid #314080;
    }

    #swipe {
        color: #314080;
        font-size: 19px;
    }

    #swipe img{
        width: 70px;
        margin-top: 30px;
    }

    #search-section {
        text-align: center;
        font-size: 25px;
        margin-top: 30px;
        font-weight: bold;
    }

    #search-button {
        background-color: #314080;
        padding:10px;
        margin: 0 auto;
        margin-top : 20px;
        color: white;
        font-size: 20px;
        width: 140px;
        border-radius: 2px;
    }

    #search-button:hover {
        background-color: #2393D7 ;
        cursor: pointer;
    }

    #country-name-search {
        font-size: 25px;
        color: #314080;
        background-color: #ebedf1 ;
        border: 1px solid #314080;
        border-radius: 2px;
        padding: 3px 5px;
    }

    #message-error {
        margin-top: 10px;
        height: 20px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(184, 30, 30);
    }

    #footer {
        background-color: #314080;
        color: white;
        text-align: center;
        font-size: 15px;
        padding: 15px;
    }

    #warning {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    #code-academy img{
        width: 270px;
        cursor: pointer;
    }
}