*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#academy {
    text-decoration: underline;
}

.link-two:link {
    text-decoration: none;
    color: white;
}

.link-two:visited {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 750px) {
    #header {
        width: 100%;
        background-image: linear-gradient(to right bottom, #eeeff2, #dde4f0, #cad9ee, #b4cfeb, #9bc6e7);
        border-bottom: 2px solid #9bc6e7;
    }

    #header-title {
        width: 80%;
        margin: 0 auto;
        padding: 30px;
        background-color: #EEEFF2;
        border-radius: 0px 0px 5px 5px;
        margin-bottom: 10px;
        text-align: center;
    }

    #first-title {
        color: #374895;
        font-size: 30px;
        letter-spacing: 5px;
        font-weight: bold;
    }

    #second-title {
        color: #2393D7;
        letter-spacing: 5px;
    }

    #menu {
        background-color: #314080 ;
        position: sticky;
        top: 0;
        z-index: 9999;
    }

    #menu-width {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
        font-weight: bold;
    }

    #menu-links{
        display: flex;
        flex-flow: column;
        position: absolute;
        left: 0;
        right: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    #menu-full{
        display: none;
    }

    .link{
        padding: 15px;
        text-decoration: none;
        color: white;
        border-top: 1px solid white;
    }

    .link:hover {
        background-color: #2393D7;
    }

    .link:visited {
        text-decoration: none;
    }

    #first-link {
        background-color: #314080;
    }

    #second-link {
        background-color: #2393D7;
    }

    #container {
        background-image: linear-gradient(to right bottom, #eeeff2, #dde4f0, #cad9ee, #b4cfeb, #9bc6e7);
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #answers-width {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    #answers-width h2 {
        padding-bottom: 20px;
    }

    #answers-width p {
        padding-top: 10px;
        text-align: left;
        font-size: 19px;
    }

    .answer-design {
        background-color: #ebedf1;
        color: #314080;
        padding: 10px;
        border-radius: 2px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 12px -3px #314080;
    }

    #virus-origin img {
        width: 120px;
    }

    #virus-symptoms img {
        width: 140px;
    }

    #virus-prevention img {
        width: 160px;
    }

    #virus-callnmb img {
        border-radius: 2px;
        padding-top: 20px;
    }

    #link-to-min:link {
        font-weight: bold;
        color: #314080;
    }

    #link-to-min:visited {
        font-weight: bold;
        color: #314080;
    }

    #footer {
        background-color: #314080;
        color: white;
        text-align: center;
        font-size: 10px;
        padding: 15px;
    }

    #warning {
        padding-bottom: 10px;
    }

    #code-academy img{
        width: 200px;
    }
}

@media only screen and (min-width: 750px) {
    #header {
        width: 100%;
        background-image: linear-gradient(to right bottom, #eeeff2, #dde4f0, #cad9ee, #b4cfeb, #9bc6e7);
        border-bottom: 2px solid #9bc6e7
    }

    #header-title {
        width: 85%;
        margin: 0 auto;
        padding: 30px;
        background-color: #EEEFF2;
        border-radius: 0px 0px 5px 5px;
        margin-bottom: 10px;
        text-align: center;
    }

    #first-title {
        color: #374895;
        font-size: 30px;
        letter-spacing: 5px;
        font-weight: bold;
    }

    #second-title {
        color: #2393D7;
        letter-spacing: 5px;
    }

    #menu {
        display: none;
    }

    #menu-full {
        position: sticky;
        top: 0;
        z-index: 9999;
        background-color: #314080;
        width: 100%;
        margin: 0 auto;
    }

    #menu-full img {
        width: 40px;
        align-self: center;
    }

    #menu-width {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
        font-weight: bold;
    }

    .link{
        padding: 15px;
        text-decoration: none;
        color: white;
        border-radius: 2px;
        align-self: center;
    }

    .link:visited {
        text-decoration: none;
    }

    #first-link {
        background-color: #5fa1d4;
        width: 190px;
        text-align: center;
    }

    #first-link:hover {
        background-color: #2393D7;
    }

    #second-link {
        background-color: #2393D7;
        width: 190px;
        text-align: center;
    }

    #container {
        background-image: linear-gradient(to right bottom, #eeeff2, #dde4f0, #cad9ee, #b4cfeb, #9bc6e7);
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #answers-width {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-evenly;
        width: 80%;
        margin: 0 auto;
        align-content: center;
    }

    #answers-width h2 {
        padding-bottom: 20px;
    }

    #answers-width p {
        padding-top: 10px;
        text-align: left;
        font-size: 19px;
    }

    .answer-design {
        background-color: #ebedf1;
        color: #314080;
        padding: 10px;
        border-radius: 2px;
        width: 100%;
        margin: 20px;
        box-shadow: 0px 0px 12px -3px #314080;
    }

    .answer-design:hover {
        box-shadow: 0px 0px 15px 0px #314080;
    }

    #virus-origin img {
        width: 150px;
    }

    #virus-symptoms img {
        width: 170px;
    }

    #virus-prevention img {
        width: 220px;
    }

    #virus-callnmb img {
        border-radius: 2px;
        padding-top: 20px;
        width: 400px;
    }

    #link-to-min:link {
        font-weight: bold;
        color: #314080;
    }

    #link-to-min:visited {
        font-weight: bold;
        color: #314080;
    }

    #footer {
        background-color: #314080;
        color: white;
        text-align: center;
        font-size: 15px;
        padding: 15px;
    }

    #warning {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    #code-academy img{
        width: 270px;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1350px) {
    .answer-design {
        width: 40%;
    }

    #answers-width {
        flex-flow: row;
        flex-wrap: wrap;
    }
}